$themes: (
  light: (
    color: $color-dark,
    color-inverse: $color-light,
    background: white,
    background-accent: $color-light,
    shadow: $color-dark,
    box-shadow: rgba(0,0,0,.2),
  ),
  dark: (
    color: $color-light,
    color-inverse: $color-dark,
    background: darken($color-dark, 10%),
    background-accent: $color-dark,
    shadow: $color-light,
    box-shadow: rgba(0,0,0,.5),
  ),
);

@each $key, $value in $themes {
  .theme-#{$key} {
    color: map-get($map: $value, $key: color);
    background-color: map-get($map: $value, $key: background);
  }
}