$themes: (
  light: (
    color: $color-dark,
    color-inverse: $color-light,
    background: white,
    background-accent: $color-light,
    shadow: $color-dark,
  ),
  dark: (
    color: $color-light,
    color-inverse: $color-dark,
    background: darken($color-dark, 10%),
    background-accent: $color-dark,
    shadow: $color-light,
  ),
);

@each $key, $value in $themes {
  .theme-#{$key} {
    color: map-get($map: $value, $key: color);
    background-color: map-get($map: $value, $key: background);
    a {
      color: map-get($map: $value, $key: color);
    }
    .navigation {
      background-color: map-get($map: $value, $key: background);
    }
    .background {
      background-color: map-get($map: $value, $key: background-accent);
    }
    .toggler__bar {
      background-color: map-get($map: $value, $key: color);
    }
    .languages {
      .progressbar.doted i {
        color: map-get($map: $value, $key: color-inverse)
      }
      .progressbar.doted .fill {
        color: map-get($map: $value, $key: color)
      }
    }
  }
}