$themes: (
  light: (
    color: $color-dark,
    color-inverse: $color-light,
    background: white,
    background-accent: $color-light,
    shadow: $color-dark,
  ),
  dark: (
    color: $color-light,
    color-inverse: $color-dark,
    background: darken($color-dark, 10%),
    background-accent: $color-dark,
    shadow: $color-light,
  ),
);

@each $key, $value in $themes {
  .theme-#{$key} {
    color: map-get($map: $value, $key: color);
    background-color: map-get($map: $value, $key: background);
  }
}