$color-primary: #F79824;
$color-secondary: #2176FF;
$color-dark: #31393C;
$color-light: #F5F5F5;

$colors: (
  primary: #F79824,
  secondary: #2176FF,
  A: #FDCA40,
  B: #33A1FD,
  C: #2176FF,
  D: #6845FF,
  E: #F79824
);
