.button {
  @include d-flex-row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  background-color: $color-dark;
  padding: 5px 50px;
  font-size: 20px;
  color: $color-light;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: .20s;
  &:hover {
    color: $color-light;
    text-decoration: none;
  }
  @each $key, $value in $colors {
    &--#{$key} {
      background-color: $value;
      @if ( lightness($value) < 60% ) {
        color: $color-dark;
      }
      &:hover {
        background-color: darken($value, 10%);
        @if ( lightness($value) < 60% ) {
          color: $color-dark;
        }
      }
    }
  }
  &--big {
    padding: 10px 50px;
    font-size: 25px;
    width: auto;
    @media (max-width: 992px) {
      padding: 10px 30px;
    }
  }
  &--nav {
    position: absolute;
    right: 20px;
    top: 15px;
    opacity: 0;
    transition: .50s;
    @media (max-width: 1200px) {
      padding: 5px 20px;
    }
    @media (max-width: 992px) {
      padding: 10px 10px;
    }
    @media (max-width: 768px) {
      opacity: 1;
      right: 125px;
      text-align: center;
    }
  }
  &--nav-view {
    opacity: 1;
  }
  &--theme {
    position: absolute;
    cursor: pointer;
    z-index: 150;
    left: 25px;
    top: 15px;
    margin: 0;
    padding: 10px;
    &.light {
      color: $color-light;
      background-color: $color-dark;
      &:hover {
        background-color: lighten($color: $color-dark, $amount: 10%)
      }
    }
    &.dark {
      color: $color-dark;
      background-color: $color-light;
      &:hover {
        background-color: darken($color: $color-light, $amount: 10%)
      }
    }
    @media (max-width: 768px) {
      left: auto;
      right: 75px;
    }
  }
}