.logo {
  position: relative;
  z-index: 210;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, .2);
  font-weight: 100;
  margin: 0;
  @include themify($themes) {
    color: themed(color);
  }
  &__accent {
    font-weight: 700;
    margin-right: 10px;
  }
}