.modal-custom {
  @include box-shadow;
  border: none;
  border-radius: 10px;
  @include themify($themes) {
    background-color: themed(background);
  }
  &__close {
    position: relative;
    display: block;
    float: none;
    z-index: 10;
    i {
      position: absolute;
      right: 16px;
      top: 15px;
      font-size: 28px;
      @include themify($themes) {
        color: themed(color);
      }
    }
  }
  p {
    font-size: 18px;
    kbd {
      font-size: 14px;
      @include themify($themes) {
        background-color: themed(shadow);
        color: themed(color-inverse)
      }
    }
  }
}