.project-card {
  position: relative;
  display: block;
  @include box-shadow;
  border-radius: 10px;
  padding: 10px 10px;
  height: 300px;
  background-position: center;
  background-size: cover;
  &__title {
    position: absolute;
    @include box-shadow;
    padding: 5px 10px;
    border-radius: 10px;
    @include themify($themes) {
      color: themed(color);
      background-color: themed(background);
    }
    bottom: 10px;
  }
  h4 {
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 -2px 0;
  }
  small {
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 16px;
  }
  transition: 0.30s;
  &:hover {
    transform: scale(1.05);
  }
}