.toggler {
  z-index: 200;
  position: absolute;
  @include d-flex-col;
  justify-content: space-between;
  height: 30px;
  width: 35px;
  right: 20px;
  top: 20px;
  cursor: pointer;
  transition: all .25s;
  &__bar {
    border-radius: 10px;
    height: 4px;
    width: 100%;
    background-color: $color-dark;
    transition: all .20s;
  }
  &.active {
    justify-content: center;
    .top {
      transform: translate(0, 4.5px) rotate(45deg); // translate(5px,8px);
      width: 100%;
    }
    .middle {
      opacity: 0;
    }
    .bottom {
      transform: translate(0, -3.5px) rotate(-45deg); // translate(4px,-7px);
      width: 100%;
    }
  }
}