.tooltip-inner {
  font-family: "Saira Condensed", sans-serif;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 10px;
  @include themify($themes) {
    color: themed(background);
    background-color: themed(color);
  }
}