.glass-card {
    position: relative;
    @include box-shadow;
    border-radius: 10px;
    width: 350px;
    &__text {
        color: #6f7886;
        margin-left: 30px;
        margin-top: 100px;
        position: relative;
        z-index: 2;
    }
    @media (max-width: 576px) {
        box-shadow: none !important;
        height: 100%;
        width: 100vw;
        margin-top: 10%
    }
}

.glass-content {
    padding: 40px 0;
    text-align: center;
}

.picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.name {
    text-transform: uppercase;
    font-weight: 300;
    .bolder {
        font-weight: 700;
    }
}

.arrow {
    display: none !important;
}