.progressbar {
  &.line {
    border-radius: 10px;
    height: 5px;
    width: 100%;
    @include themify($themes) {
      background-color: themed(background-accent);
    }
    &:before {
      content: '';
      border-radius: 10px;
      margin: -2.6px 0;
      position: absolute;
      height: 10.2px;
      width: 0%;
      background-color: $color-dark;
    }
    &.perc-40:before {
      width: 40%;
    }
    &.perc-25:before {
      width: 25%;
    }
    @each $key, $value in $colors {
      &.color-#{$key} {
        &:before {
          background-color: $value;
        }
      }
    }
  }
  &.circle {
    display: flex;
    justify-content: center;
    &.stroke-F {
      svg {
        circle:nth-child(2) {
          @include themify($themes) {
            stroke: themed(color);
          }        
        }
      }
    }
    @each $key, $value in $colors {
      &.stroke-#{$key} {
        svg {
          circle:nth-child(2) {
            stroke: $value;
          }
        }
      }
    }
    svg {
      position: relative;
      width: 150px;
      height: 150px;
      margin: 10px 0;
      circle {
        height: 100px;
        width: 100px;
        fill: none;
        stroke-width: 5;
        stroke: lighten($color: $color-primary, $amount: 45%);
        transform: translate(5px, 5px);
        stroke-dasharray: 439.82;
        stroke-dashoffset: 439.82;
      }
      circle:nth-child(1) {
        stroke-dashoffset: 0;
        @include themify($themes) {
          stroke: themed(background-accent);
        }
      }
      circle:nth-child(2) {
        stroke-width: 10;
        stroke-linecap: round;
        transform-origin: 75px 70px;
        stroke-dashoffset: 439.82;
        transform: rotate(-90deg);
        stroke: $color-secondary;
      }
    }
    .circle-label {
      position: absolute;
      font-weight: 600;
      font-size: 40px;
      top: 65px;
    }
  }
}