.socials {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 0;
}

.button {
    padding: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    @include themify($themes) {
        background-color: themed(background-accent);
        color: themed(color)
    }
    transition: .25s;
    &:hover {
        @include themify($themes) {
            background-color: darken(themed(background-accent), 5%);
            color: themed(color)
        }
    }
    &--small {
        width: 30px;
        height: 30px;
        font-size: 15px;
        line-height: 10px;
    }
}