.socials {
  display: flex;
  list-style: none;
  margin: 0 0 30px;
  padding: 5px;
  justify-content: center;
  font-size: 30px;
  @include themify($themes) {
    background-color: themed(background-accent);
  }
  border-radius: 10px;
  &.s-row {
    flex-direction: row;
    li {
      &:first-child {
        margin: 0 2.5px 0 0;
      }
      &:last-child {
        margin: 0 0 0 2.5px;
      }
    }
  }
  &.s-col {
    flex-direction: column;
    li {
      margin: 0;
    }
  }
  li {
    margin: 0 2.5px;
    padding: 0 10px;
    width: 50px;
    height: 50px;
    transition: .30s;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      @include themify($themes) {
        color: themed(color);
      }
    }
    &:hover {
      @include themify($themes) {
        background-color: themed(background);
        box-shadow: 0 0 10px themed(box-shadow);
      }
      a {
        @include themify($themes) {
          color: themed(color);
        }
      }
    }
  }
  &.socials-dropdown {
    z-index: 110;
    position: fixed;
    right: 9px;
    top: 60px;
    @include themify($themes) {
      box-shadow: 0 0 10px themed(box-shadow);
    }
  }
}