.underline {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    border-radius: 10px;
    left: 0;
    bottom: 4.5px;
    height: 2.5px;
    width: 35%;
    background-color: $color-dark;
    transition: .25s;
  }
  &:hover {
    &:after {
      width: 100%;
    }
  }
  &--nohover:after {
      width: 100%;
  }
  &--title:after {
    height: 5px;
    bottom: -2px;
  }
  @each $key, $value in $colors {
    &.underline-#{$key}:after {
        background-color: $value;
    }
  }
}