.navigation {
  position: relative;
  z-index: 100;
  position: fixed;
  padding: 10px 0;
  height: 70px;
  width: 100%;
  transition: .5s;
  @include themify($themes) {
    background-color: themed(background);
    box-shadow: 0 0 10px themed(box-shadow);
  }
  &__container {
    @include d-flex-row;
  }
  &__menu-list {
    position: relative;
    @include list-row;
    margin: 5px 40px 0 0;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 100;
    a {
      @include themify($themes) {
        color: themed(color);
      }
    }
    @media (max-width: 992px) {
      padding: 0 0 0 20px;
      margin: 5px 0 0 0;
      font-size: 22px;
    }
    .menu-item {
      margin: 0 10px;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  @media (max-width: 768px) {
    overflow: hidden;
  }
  &.collapsed {
    height: 100vh;
  }
  &__collapse {
    @include d-flex-row;
    @media (max-width: 768px) {
      @include d-flex-col-center;
      position: absolute;
      height: 100vh;
      width: 100%;
      left: 0;
      top: 0;
      .navigation__menu-list {
        @include d-flex-col-center;
        padding: 0;
        .menu-item {
          margin: 10px 0;
          font-size: 40px;
        }
      }
    }
  }
}

.nav-absolute-container {
  z-index: 500;
  position: absolute;
  right: 20px;
  top: 15px;
  display: flex;
  flex-direction: row;
  transition: .30s;
  a {
    transition-delay: .30s;
    transition: .30s;
    opacity: 0;
    @media (max-width: 768px) {
      height: 40px;
    }
  }
  @media (max-width: 768px) {
    opacity: 0;
    right: 175px;
    text-align: center;
  }
  &.container-view {
    opacity: 1;
    a {
      opacity: 1;
    }
  }
}